/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}

h1{
    text-transform: uppercase;
}

.fullsize {
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: bottom right;    
    padding: 5px;
    position: relative;
    min-height: 100%;    
}

.claim-container {
    width: 60%;
    position: relative;
    margin-left: 40px;
    margin-top: 450px;
    margin-bottom: 450px;
    border-width: 40px;
    border-style: solid;
}

.claim-wrapper{
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 40px; 
    padding-bottom: 20px;   
}

.claim {
    font-family: sans-serif;
    font-size: 20px;
    color: rgba(53,  53,  53 , 1);
    padding-left: 0px;
 

}

.claim h1{
    margin-left: 80px;
}

.claim ul{
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin-left: 0px;
    
}

.claim li{
    background: url(http://cdn1.iconfinder.com/data/icons/c9d/check.png) 25px 50% no-repeat;
    padding-left: 80px;
    margin-bottom: 20px;
    vertical-align: top;
}

.claim li p {
    /*margin-left: 40px;*/
}

.claim .bullet{
    background-color: rgb(137,  137, 137 );
    border-radius: 9000px;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.claim .bullet-wrap{
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;

}





.first {
    background-image: url(./images/street.svg);
}

.second {
    background-image: url(./images/library.png);
}

.second .claim-container{
    border-color: rgba(0, 105, 84, .5);
}

.second h1{
    color: rgba(0, 105, 84, 1);
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 105, 84, 1);
}

.third {
    background-image: url(./images/office.svg);
}

.third .claim-container{

    border-color: rgba(211, 43,  40, .5);
}

.third h1{
    color: rgba(211, 43,  40, 1);
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(211, 43,  40, 1);
}



.fourth {
    background-image: url(./images/bar.svg);
}

.fourth .claim-container{
     border-color: rgba(37, 56,  99, .5);
}

.fourth h1{
    color: rgb(37, 56,  99);
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(37, 56,  99);
}

.fourth a{
    color: rgb(37, 56,  99);
}

.fourth a:visited{
    color: rgba(37, 56,  99, .8);
}

.fill {
    height: 100px;
    background-color: rgb(112 ,112,112);
    border-bottom: 4px solid rgb(250 ,250,250);
}

.floor{
    background-image: url(./images/bricks.jpg) ;
       /* background-repeat:no-repeat;*/
       background-repeat: repeat;

    background-size: 150px 150px;
    background-attachment: fixed;
    border-top: 4px solid rgb(250 ,250,250);
    border-bottom: 4px solid rgb(250 ,250,250);
}




.second .claim-container{
    /*background-image: url(./images/library_textbox.svg);*/
}


@media (max-width: 768px) {
    .claim-container {
        width: 100%;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 450px;
        margin-bottom: 450px;
        border-width: 40px;
        border-style: solid;
    }

    .claim-wrapper{
        padding-right: 10px;
    }


    .claim li{
        background: url(http://cdn1.iconfinder.com/data/icons/c9d/check.png) 50% 25px no-repeat;
        padding-top: 70px;

        padding-left: 0px;
        margin-left: 0px;
        vertical-align: top;
        text-align: center;
    }



    .claim h1{
        margin-left: 0px;
        text-align: center;
    }

}